/* add custom styles */
body {
    background-color: #4C3C3B;
}

input {
    background-color: rgba(255,255,255,.5);
}

.well {
    background-color: #82877B;

}

img {
    height: 150px;
    width: 200px;
}

.inline {
    display: inline;
    margin-right: 15px;
}

.addCommentForm {
    text-align: center;
}

.red {
    color: #EC3302;
}

.green {
    color: #2AC830;
}

.exit {
    animation: pulsate 3s infinite ease-out;;

}

.ng-enter{
    transition: 0.5s ease all;
    opacity: 0;
}

.ng-leave{
    transition: 0.5s ease all;
    opacity: 1;

}