
.primary .secondary {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.primary {
}
.secondary {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}
.portfolio-item:hover .primary {
    -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.portfolio-item:hover .secondary {
    -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
*/

.portfolio-item {
    position: relative;
}

.primary {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.secondary {
    position: absolute;
    opacity: 0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.primary, .secondary {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

img:hover .primary   {
        -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        opacity: 0;

}

img:hover .secondary{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}