/* add custom styles */
body {
    background-color: #4C3C3B;
}

input {
    background-color: rgba(255,255,255,.5);
}

.well {
    background-color: #82877B;

}

img {
    height: 150px;
    width: 200px;
}

.inline {
    display: inline;
    margin-right: 15px;
}

.addCommentForm {
    text-align: center;
}